:root {
  font-size: 10px;
}

@media (max-width: 1160px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 1060px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 940px) {
  :root {
    font-size: 7px;
  }
}

@media (max-width: 840px) {
  :root {
    font-size: 6.5px;
  }
}

svg {
  cursor: pointer;
}

body {
  margin: 0;
  cursor: default;
}

p {
  margin: 0;
}

.burgerMenu {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #908787;
  background: linear-gradient(356deg, #908787 0%, rgba(78, 73, 73, 0.947514) 48%, #060606 100%);
}

.burgerMenuWrapper {
  width: 80%;
  height: 90%;
  margin: 5% auto 0;
}

.burgerMenuWrapper img {
  width: 40%;
  margin-bottom: 10rem;
}

.burgerMenuWrapper .burgerMenuLinks {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #fff;
  padding-bottom: 5%;
  margin-bottom: 3%;
}

.burgerMenuWrapper .burgerMenuLinks a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.burgerMenuWrapper .burgerMenuLinks a:hover {
  color: #aaaaaa;
}

.burgerMenuWrapper .burgerMenuFollow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 5%;
  margin-bottom: 3%;
}

.burgerMenuWrapper .burgerMenuFollow svg {
  margin-right: 5%;
}

.burgerMenuWrapper .burgerMenuFollow svg:hover {
  fill: #aaaaaa;
}

.burgerMenuWrapper .burgerMenuSocials svg {
  width: 10%;
  height: 30px;
  margin-right: 5%;
}

.burgerMenuWrapper .burgerMenuSocials svg:hover {
  fill: #aaaaaa;
}

header {
  width: 100%;
  background-color: #333333;
}

header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 6vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0;
}

@media (max-width: 1300px) {
  header .headerContent {
    width: 80%;
  }
}

@media (max-width: 960px) {
  header .headerContent {
    width: 90%;
  }
}

header .headerContent .headerContentLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}

header .headerContent .headerContentLeft a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

header .headerContent .headerContentLeft a:hover {
  color: #c7c7c7;
}

header .headerContent .headerContentLeft a:active {
  color: #000;
}

header .headerContent .headerContentLogo {
  width: 21rem;
  cursor: alias;
}

header .headerContent .headerContentLogo img {
  width: 100%;
  height: 100%;
}

header .headerContent .headerContentRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}

header .headerContent .headerContentRight :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerContent .headerContentRight :nth-child(1) img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}

header .headerContent .headerContentRight :nth-child(1) p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #fff;
  cursor: help;
}

header .headerContent .headerContentRight :nth-child(2) a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

header .headerContent .headerContentRight :nth-child(2) a:hover {
  color: #c7c7c7;
}

header .headerContent .headerContentRight :nth-child(2) a:active {
  color: #000;
}

header .headerContent .headerContentRight :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headerContent .headerContentRight :nth-child(3) svg:nth-child(1) {
  margin-right: 2rem;
}

header .headerContent .headerContentRight :nth-child(3) svg:hover {
  fill: black;
}

header .headerContent .headerContentRight :nth-child(3) svg:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .headerContent .menuButton {
  width: 5rem;
  height: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
  position: absolute;
  z-index: 2;
  right: 15px;
  cursor: pointer;
}

header .headerContent .menuButton div {
  height: 0.5rem;
  width: 4rem;
  margin-left: 0.5rem;
  background-color: #fff;
  border-radius: 2px;
}

header .headerContent .menuButton div:nth-child(2) {
  width: 3rem;
}

header .headerContent .menuButtonBlink {
  position: absolute;
  z-index: 1;
  display: none;
  right: calc(15px - ( 6rem - 5rem)/2);
  width: 6rem;
  height: 6rem;
  background-color: #1f1f1f;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-animation: burgerMenuBlink 2s infinite alternate 0.5s;
          animation: burgerMenuBlink 2s infinite alternate 0.5s;
}

header .headerContent .menuButtonBlink:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  border: 1px solid #bbb;
}

@-webkit-keyframes burgerMenuBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.3;
  }
}

@keyframes burgerMenuBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.3;
  }
}

@media (max-width: 770px) {
  header .headerContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .headerContent .headerContentLeft, header .headerContent .headerContentRight {
    display: none;
  }
  header .headerContent .menuButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .headerContent .menuButtonBlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.firstPage {
  width: 100%;
  padding-top: 9rem;
  position: relative;
}

.firstPage .firstPageMenu {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstPage .firstPageMenu .firstPageMenuBlock {
  position: relative;
  width: 15%;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(odd) {
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #d6d6d6;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(odd):hover {
  background-color: #333333;
  border-radius: 5px;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(odd):hover p {
  color: #fff;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(odd):hover svg {
  fill: #fff;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(odd) p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-size: 1.6rem;
  color: #333333;
  margin-left: 3px;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(odd) svg {
  margin-right: 3px;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(even) {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 3rem;
  position: absolute;
  background-color: #333333;
  border-radius: 0 0 10px 10px;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(even) p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #fff;
  font-size: 1.4rem;
  border-top: 1px solid #d6d6d6;
  margin-bottom: 5px;
  padding-left: 3px;
  cursor: pointer;
}

.firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(even) p:hover {
  font-weight: 900;
  text-decoration: underline;
}

.firstPage .firstPageCatalog {
  width: 65%;
  margin: 12rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}

.firstPage .firstPageCatalog div {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #fff;
  border-radius: 10px;
}

.firstPage .firstPageCatalog div:hover {
  border: 1px solid #333333;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.firstPage .firstPageCatalog div:hover img {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.firstPage .firstPageCatalog div:hover svg {
  fill: #fff;
}

.firstPage .firstPageCatalog div img {
  width: 80%;
  margin: 1.2rem 0 2rem;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  border-radius: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.firstPage .firstPageCatalog div p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-size: 1.6rem;
}

.firstPage .firstPageCatalog div h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-weight: 600;
  font-size: 2.4rem;
  margin: 1rem 0;
}

.firstPage .firstPageCatalog div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  height: 4rem;
  background-color: #333333;
  border: 1px solid #333333;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 0.5rem;
}

.firstPage .firstPageCatalog div a:hover {
  background-color: #fff;
  color: #333333;
  border: 1px solid #333333;
}

.firstPage .firstPageCatalog div a:hover svg {
  fill: #333333;
}

.firstPage .firstPageCatalog div a svg {
  width: 2rem;
  fill: #333333;
}

.firstPage h2 {
  margin: 10rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22rem;
  height: 5rem;
  background-color: #333333;
  border: 2px solid #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  cursor: pointer;
}

.firstPage h2:hover {
  -webkit-transform: scaleX(0.3rem);
          transform: scaleX(0.3rem);
  letter-spacing: 0.15em;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  background-color: #fff;
  border: 2px solid #000;
  color: #333333;
}

.firstPage .firstPageRemove {
  position: absolute;
  right: 17.5%;
  bottom: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13rem;
  height: 5rem;
  background-color: #333333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #fff;
  cursor: pointer;
}

.firstPage .firstPageRemove:hover {
  -webkit-transform: scaleY(0.3rem);
          transform: scaleY(0.3rem);
  letter-spacing: 0.15em;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  background-color: #fff;
  border: 1px solid #000;
  color: #333333;
}

@media (max-width: 1050px) {
  .firstPage .firstPageMenu {
    width: 80%;
  }
  .firstPage .firstPageCatalog {
    width: 80%;
  }
}

@media (max-width: 770px) {
  .firstPage .firstPageMenu {
    width: 90%;
  }
  .firstPage .firstPageCatalog {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .firstPage .firstPageMenu .firstPageMenuBlock {
    width: 30%;
  }
  .firstPage .firstPageMenu .firstPageMenuBlock div:nth-child(odd) p {
    letter-spacing: 2px;
    font-size: 1.8rem;
  }
  .firstPage .firstPageCatalog {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .firstPage .firstPageCatalog div {
    width: 35%;
  }
  .firstPage h2 {
    margin-bottom: 25rem;
  }
  .firstPage .firstPageRemove {
    bottom: -10rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 490px) {
  .firstPage .firstPageMenu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .firstPage .firstPageMenu .firstPageMenuBlock {
    width: 35%;
  }
  .firstPage .firstPageCatalog {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .firstPage .firstPageCatalog div {
    width: 65%;
  }
  .firstPage h2 {
    width: 16rem;
  }
}

.secondPage {
  width: 60%;
  margin: 18rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondPage .secondPageBlock1 {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.secondPage .secondPageBlock1 p {
  margin-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-size: 1.6rem;
  position: relative;
}

.secondPage .secondPageBlock1 p #more {
  display: none;
}

.secondPage .secondPageBlock1 .halfBlur::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(67%, rgba(255, 255, 255, 0.779447)), color-stop(83%, rgba(255, 255, 255, 0.339671)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.779447) 67%, rgba(255, 255, 255, 0.339671) 83%);
}

.secondPage .secondPageBlock1 h1 {
  margin: 10px 0 0 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-weight: 500;
  font-style: 1.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-bottom: 2px dashed #333333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secondPage .secondPageBlock1 h1:hover {
  border: 2px dashed #fff;
}

.secondPage .secondPageBlock2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

.secondPage .secondPageBlock2 div {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondPage .secondPageBlock2 div:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.secondPage .secondPageBlock2 div svg {
  width: 60px;
  cursor: default;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secondPage .secondPageBlock2 div p {
  margin-top: 10px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-size: 1.4rem;
}

@media (max-width: 1050px) {
  .secondPage {
    width: 70%;
  }
}

@media (max-width: 770px) {
  .secondPage {
    width: 80%;
  }
}

@media (max-width: 645px) {
  .secondPage {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secondPage .secondPageBlock1 {
    width: 80%;
  }
  .secondPage .secondPageBlock1 .halfBlur::after {
    height: 40px;
  }
  .secondPage .secondPageBlock2 {
    width: 70%;
  }
}

.thirdPage {
  width: 100%;
  background-color: black;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 13rem;
}

.thirdPage h3 {
  margin-top: 10rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #fff;
  font-size: 2.1rem;
}

.thirdPage h1 {
  margin: 1.5rem 0 6rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.thirdPage .thirdPageBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto 12rem;
}

@media (max-width: 840px) {
  .thirdPage .thirdPageBlocks {
    width: 70%;
  }
}

@media (max-width: 670px) {
  .thirdPage .thirdPageBlocks {
    width: 80%;
  }
}

@media (max-width: 580px) {
  .thirdPage .thirdPageBlocks {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thirdPage .thirdPageBlocks .thirdPageBlocksLeft {
    margin-bottom: 30px;
  }
}

.thirdPage .thirdPageBlocks .thirdPageBlocksLeft {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 580px) {
  .thirdPage .thirdPageBlocks .thirdPageBlocksLeft {
    width: 60%;
  }
}

.thirdPage .thirdPageBlocks .thirdPageBlocksLeft div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdPage .thirdPageBlocks .thirdPageBlocksLeft div img {
  margin-right: 2rem;
}

.thirdPage .thirdPageBlocks .thirdPageBlocksLeft div p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #fff;
  font-size: 1.8rem;
}

.thirdPage .thirdPageBlocks .thirdPageBlocksRight {
  width: 50%;
  height: 9rem;
  border: 1px solid #fff;
  background-color: black;
  padding: 1rem;
}

@media (max-width: 670px) {
  .thirdPage .thirdPageBlocks .thirdPageBlocksRight {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .thirdPage .thirdPageBlocks .thirdPageBlocksRight {
    width: 70%;
  }
}

.thirdPage .thirdPageBlocks .thirdPageBlocksRight div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 100%;
}

.thirdPage .thirdPageBlocks .thirdPageBlocksRight div input {
  width: 45%;
  height: 4rem;
  padding: 0;
  padding-left: 1rem;
  border: 1px solid #D6D6D6;
}

.thirdPage .thirdPageBlocks .thirdPageBlocksRight div input:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.thirdPage .thirdPageBlocks .thirdPageBlocksRight div input:focus {
  font-size: 2rem;
}

.thirdPage .thirdPageBlocks .thirdPageBlocksRight div a {
  height: 4rem;
  width: 40%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.thirdPage .thirdPageBlocks .thirdPageBlocksRight div a:hover {
  -webkit-transform: translateX(0.1rem);
          transform: translateX(0.1rem);
  letter-spacing: 0.1em;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.forthPage {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8rem auto 6rem;
}

.forthPage .forthPageLinks {
  width: 23%;
}

.forthPage .forthPageLinks h1 {
  border-bottom: 1px solid #000;
  margin: 0 0 3rem;
  padding-bottom: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.forthPage .forthPageLinks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forthPage .forthPageLinks div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: black;
  text-decoration: none;
  margin-bottom: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.forthPage .forthPageLinks div a:hover {
  color: #969595;
  text-decoration: underline;
  -webkit-transition: 1s;
  transition: 1s;
}

.forthPage .forthPagePayment {
  width: 23%;
}

.forthPage .forthPagePayment h1 {
  border-bottom: 1px solid #000;
  margin: 0 0 3rem;
  padding-bottom: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.forthPage .forthPagePayment p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: black;
  margin-bottom: 2rem;
}

.forthPage .forthPagePayment img {
  margin-right: 2rem;
}

.forthPage .forthPageContacts {
  width: 23%;
}

.forthPage .forthPageContacts h1 {
  border-bottom: 1px solid #000;
  margin: 0 0 3rem;
  padding-bottom: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.forthPage .forthPageContacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.forthPage .forthPageContacts div svg {
  cursor: default;
}

.forthPage .forthPageContacts div p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: black;
  margin-left: 2rem;
}

.forthPage .forthPageSocials {
  width: 23%;
}

.forthPage .forthPageSocials h1 {
  border-bottom: 1px solid #000;
  margin: 0 0 3rem;
  padding-bottom: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.forthPage .forthPageSocials p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: black;
  margin-bottom: 2rem;
}

.forthPage .forthPageSocials svg {
  margin-right: 7px;
}

.forthPage .forthPageSocials svg:hover {
  fill: #aaaaaa;
}

.forthPage .forthPageSocials svg:last-child {
  margin: 0;
}

@media (max-width: 735px) {
  .forthPage {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .forthPage .forthPageLinks, .forthPage .forthPagePayment, .forthPage .forthPageContacts, .forthPage .forthPageSocials {
    width: 35%;
  }
}

@media (max-width: 500px) {
  .forthPage {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .forthPage .forthPageLinks, .forthPage .forthPagePayment, .forthPage .forthPageContacts, .forthPage .forthPageSocials {
    width: 51%;
  }
}

footer {
  width: 90%;
  border-top: 1px solid #000;
  margin: 0 auto;
}

footer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

footer div p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  color: #000;
}

footer div p:last-child {
  text-decoration: underline;
}

@media (max-width: 650px) {
  footer {
    width: 98%;
  }
}

@media (max-width: 540px) {
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer p {
    width: 35%;
    text-align: center;
  }
}

.openBurgerMenu {
  -webkit-animation: openBurger 1.5s forwards;
          animation: openBurger 1.5s forwards;
}

@-webkit-keyframes openBurger {
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes openBurger {
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.closeBurgerMenu {
  -webkit-animation: closeBurger 1s forwards;
          animation: closeBurger 1s forwards;
}

@-webkit-keyframes closeBurger {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate();
            transform: rotate();
  }
}

@keyframes closeBurger {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate();
            transform: rotate();
  }
}
/*# sourceMappingURL=catalog.css.map */